<h1>Search Flight</h1>

<%= form_tag(root_path, method: "get") do %>
  <%= label_tag(:departure_airport_id, "Departure Airport:") %>
  <%= select_tag(:departure, options_for_select(@departure_options)) %><br><br>

  <%= label_tag(:arrival_airport_id, "Arrival Airport:") %>
  <%= select_tag(:arrival, options_for_select(@departure_options)) %><br><br>

  <%= label_tag(:passengers, "Number of passengers:") %>
  <%= select_tag(:passengers, options_for_select([1,2,3,4])) %><br><br>

  <%= label_tag(:date, "Date:") %>
  <%= select_tag(:date, options_for_select(@date_options)) %><br><br>

  <%= submit_tag "Search", class: "btn btn-primary col-md-4 col-md-offset-8" %><br>
<% end %>



<% if !@flights.empty? %>
  <%= form_tag(new_booking_path, method: "get") do %>
    <% @flights.each do |f| %>
      <%= radio_button_tag(:flight_id, f.id) %>
      From <%= f.from_airport.code %>
      to <%= f.to_airport.code %>
      | Date <%= f.departure_date %>
      </p>
    <% end %>
    <%= hidden_field_tag(:passengers, params[:passengers]) %>
    <p><%= submit_tag "Select", class: "btn btn-primary col-md-4 col-md-offset-8" %></p>
  <% end %>
<% end %>

